# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

theme: "minimal-mistakes-jekyll"
minimal_mistakes_skin: "dark" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

# Site Settings
locale: "en-UK"
title: "Effectiveness and Continuity in Categorical Logic" #"Pino Rosolini's 70th Birthday"
title_separator: "-"
subtitle: "Pino Rosolini's 70th Birthday"
name: "Genoa Logic Group"
description: "A workshop dedicated to Pino Rosolini on the occasion of his 70th birthday"
url: # the base hostname & protocol for your site e.g. "https://mmistakes.github.io"
baseurl: '/eccl-24/'
repository: # GitHub username/repo-name e.g. "mmistakes/minimal-mistakes"
teaser: # path of fallback teaser image, e.g. "/assets/images/500x300.png"
logo: "/assets/images/diagram.png" # path of logo image to display in the masthead, e.g. "/assets/images/88x88.png"
# masthead_title: "Custom Title" # overrides the website title displayed in the masthead, use " " for no title
# breadcrumbs            : false # true, false (default)
words_per_minute: 200


# Site Author
author:
  name: "Genoa Logic Group"
  avatar: "/assets/images/bio-photo.jpg"
  bio: ""
  location: "Genoa, Italy"
  links:
    - label: "Home Page"
      icon: "fas fa-fw fa-link"
      url: "https://logic.dima.unige.it"

atom_feed: 
  hide: true 

# Site Footer
footer:
  links:

# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - Rakefile
  - README
  - tmp
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Liquid
strict_front_matter: true
liquid:
  error_mode: strict

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # http://en.wikipedia.org/wiki/List_of_tz_database_time_zones


# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
#  - jekyll-feed
  - jekyll-include-cache

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
#  - jekyll-feed
  - jekyll-include-cache


# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development


# Collections
collections:
  talks:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: false
      read_time: false
      show_date: true
      share: true
      related: false 
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: false 
      classes: wide 
      sidebar: 
        - image: /assets/images/rosolini.jpeg 
        - title: When 
          text: "12 - 13 September 2024"
        - title: Where 
          text: DIMA, Genoa, Italy 
  # _talks
  - scope:
      path: ""
      type: talks
    values:
      layout: single
      author_profile: true 
      header: 
        teaser: /assets/images/bio-photo-2.jpg 

